doctype html
html
  include ./assets/pug/_head
  body
    .content
      include ./assets/pug/_mainModal
      include ./assets/pug/_sidebar
      include ./assets/pug/_main
      include ./assets/pug/_sourceJs
