body {
  margin: 0;
  font-family: Cerebri Sans,sans-serif;
  font-size: .9375rem;
  font-weight: $font-weight-medium;
  line-height: 1.5;
  color: $color-body;
  text-align: left;
  background: $bg-body;
}
.container {
  margin-left: 250px;
}
a:hover {
  color: $color-link-hover;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  border: 2px solid #fff;
  bottom: 0;
  &--online {
    background: $color-badge;
  }
  &--offline {
    background: $color-gray;
  }
  &--danger {
    background: $color-red;
  }
  &--warning {
    background: $color-orange;
  }
}
.col-xl-10 {
  padding-right: 12px;
  padding-left: 12px;
}