$color-white: #fff;
$color-main : #95aac9;
$color-badge : #00d97e;
$color-title : #12263f;
$color-dropdown: #d2ddec;
$color-hr : #e3ebf6;
$color-gray : gray;
$color-link-hover : #1657af;
$color-body: #12263f;
$color-active : #2c7be5;
$color-media: rgb(210,221,236);
$color-nav: #6e84a3;
$color-btn : #1a68d1;
$color-red: red;
$color-orange: orange;
$color-black : #000;
$color-tab : #A6C5F7;
$color-mob : #D2DDEC;

$bg-white : #fff;
$bg-color-badge : #ccf7e5;
$bg-body : #f9fbfd;
$bg-color-offline : #e63757;
$bg-scrol : #2c7be5;
$bg-input : rgb(210,221,236);

$bd-export : rgba(223,226,230,.5);
$bd-btn : #1862c6;
$bd-card : #edf2f9;
$bd-color-active : #2c7be5;
$bd-bottom-header : #e3ebf6;
$bd-label : #adb5bd;
$box-shadow-card :rgba(18, 38, 63, 0.03) 0px 12px 24px 0px;
$bd-bottom-header : rgba(0, 0, 0, 0.03);

$font-weight-small : 300;
$font-weight-medium : 400;
$font-weight-large : 500;
$font-weight-big : 600;

$font-size-xs : 9.5px;
$font-size-small: 10px;
$font-size-medium: 11.25px;
$font-size-medium2: 11.5px;
$font-size-3 : 13.5px;
$font-size-2: 13px;
$font-size-1 : 15px;
$font-size-4 : 17px;
$font-size-large : 20px;
$font-size-big : 26px;

