.modal.fade#sidebarModalSearch.modalSearch(role="dialog")
  .modal-dialog(role="document")
    .modal-content
      .modal-body(data-toggle="lists")
        form.mt-4.mb-3(action="#")
          .input-group.input-group-merge
            input.form-control.form-control-prepended.search(type="search" placeholder="Search")
            .input-group-prepend
              .input-group-text
                span.fe.fe-search
        .media
          a(href="#")
            img.avatar-img.rounded(src="assets/img/team-logo-1.jpg", alt="")
            .media-body
              h4.text-body.name.mb-1 Airbnb
              p.text.mb-0
                span.icon
                  i.fe.fe-clock
                span.date-time Updated 2hr ago.
        .media
          a(href="#")
            img.avatar-img.rounded(src="assets/img/team-logo-2.jpg", alt="")
            .media-body
              h4.text-body.name.mb-1 MEdium Corporation
              p.text.mb-0
                span.icon
                  i.fe.fe-clock
                span.date-time Updated 2hr ago
        .media
          a(href="#")
            img.avatar-img.avatar-img-pro.rounded(src="assets/img/project-1.jpg", alt="")
            .media-body
              h4.text-body.name.mb-1 Homepage Redesign
              p.text.mb-0
                span.icon
                  i.fe.fe-clock
                span.date-time Updated 4hr ago
        .media
          a(href="#")
            img.avatar-img.avatar-img-pro.rounded(src="assets/img/project-2.jpg", alt="")
            .media-body
              h4.text-body.name.mb-1 Travel & Time
              p.text.mb-0
                span.icon
                  i.fe.fe-clock
                span.date-time Updated 4hr ago
        .media
          a(href="#")
            img.avatar-img.avatar-img-pro.rounded(src="assets/img/project-3.jpg", alt="")
            .media-body
              h4.text-body.name.mb-1 Safari Exploration
              p.text.mb-0
                span.icon
                  i.fe.fe-clock
                span.date-time Updated 4hr ago
        .media
          a(href="#")
            img.avatar-img.rounded-circle(src="assets/img/avatar-1.jpg", alt="")
            .media-body
              h4.text-body.name.mb-1 Dianna Smiley
              p.text.action.mb-0.ml-3
                span.text-success
                | online
                span.status.status--online

        .media
          a(href="#")
            img.avatar-img.rounded-circle(src="assets/img/avatar-2.jpg", alt="")
            .media-body
              h4.text-body.name.mb-1 Ad Hadley
              p.text.action.mb-0.ml-3
                span.text-danger
                | offline
                span.status.status--offline


