.modal.fade#sidebarModal(role="dialog" aria-modal="true")
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title Notifications
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") x
      .modal-body
        ul.list-unstyled.my-2
          li.media
            img.avatar.align-self-start.rounded-circle.mr-3(src="assets/img/avatar-1.jpg")
            p.text-body
              span.name Dianna Smiley
              |  shared your post with 
              span.name Ab Hadlay
              | ,
              span.name Adolfo Hess
              | , and 
              span.name 3 others.
            span.time 2m
          li.media
            img.avatar.align-self-start.rounded-circle.mr-3(src="assets/img/avatar-2.jpg")
            p.text-body
              span.name Ab Hadlay
              |  reacted to your ost with a 😍
            span.time 2m
          li.media
            img.avatar.align-self-start.rounded-circle.mr-3(src="assets/img/avatar-3.jpg")
            p.text-body
              span.name Adolfo Hess
              |  commented
              span.comment.d-block "I don't think this really makes sense to do widthout approval from Johnathan since he's the one..."
            span.time 2m
          li.media
            img.avatar.align-self-start.rounded-circle.mr-3(src="assets/img/avatar-4.jpg")
            p.text-body
              span.name Daniela Dewitt
              |  subcribed to you.
            span.time 2m
          li.media
            img.avatar.align-self-start.rounded-circle.mr-3(src="assets/img/avatar-5.jpg")
            p.text-body
              span.name Miyah Myles
              |  shared your post with 
              span.name Ryu Duke
              | ,
              span.name GlenRouse
              | , and 
              span.name 3 others.
            span.time 2m
          li.media
            img.avatar.align-self-start.rounded-circle.mr-3(src="assets/img/avatar-6.jpg")
            p.text-body
              span.name Ryu Duke
              |  reacted to your ost with a :))
            span.time 2m
          li.media
            img.avatar.align-self-start.rounded-circle.mr-3(src="assets/img/avatar-7.jpg")
            p.text-body
              span.name Glen Rouse
              |  commented
              span.comment.d-block "I don't think this really makes sense to do widthout approval from Johnathan since he's the one..."
            span.time 2m
          li.media
            img.avatar.align-self-start.rounded-circle.mr-3(src="assets/img/avatar-8.jpg")
            p.text-body
              span.name Grace Gross
              |  subcribed to you.
            span.time 2m
