script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="assets/vendor/bootstrap.min.js")
script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
script(src="assets/vendor/Chart.min.js")
script(src="assets/vendor/Chart.extension.min.js")
script(src="assets/js/main.js")
